.footer{
    height: 52px; 
    background-color: #CEAD28; 
}

.footer h3{
    font-family:'Yu Gothic';
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 21px;
    padding-left: 45px;
    
}


.realisation-graphique{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.realisation-graphique__container{
    width: 50%;
    display: flex;
}

.realisation-graphique__container__image{
    width: 49%;
}

.realisation-graphique__container__image img{
    width: 100%;
}

.realisation-graphique__container__texte{
    width: 51%;
    background-color: #F6F6F6;
}

.realisation-graphique__container__texte h1{
    font-family:'Yu Gothic';
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 20px;
}

.realisation-graphique__container__texte h2{
    font-family:'Yu Gothic';
    font-weight: lighter;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 25px;
    letter-spacing: 5px;
    
}

.realisation-graphique__container__texte p{
    width: 90%;
    font-family:'Yu Gothic';
    color: #000000;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
}

.realisation-graphique__container__texte p span{
    font-weight: bold;
}

.realisation-graphique__container__texte a{
    width: 186px;
    height: 39px;
    background-color: #232323;
    font-family: 'Yu Gothic';
    font-weight: bold;
    font-size: 20px;
    padding: 9px;
    padding-left: 41px;
    padding-right: 40px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 38px;
    margin: auto;
    margin-top: 42px;
    color: #FFFFFF;
    transition: all 0.5s ease-out;
    
}

.realisation-graphique__container__texte a:hover{
    background-color: #FFFFFF;
    color: #4D4D4D;  
    border: solid 1px #4D4D4D;
}

