.section-footer {
    height: 52px; 
    background-color: #DFC86D; 
}

.footer h3{
    font-family:'Yu Gothic';
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 21px;
    padding-left: 45px;
}