
.page-wrapper-home {
    height: 100vh;
}

@media screen and (max-width: 1024px) {
    .page-wrapper-home {
        height: inherit;
    }
}

.page-wrapper-home .page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-home-top {
    display: flex;
    align-items: center;
}

.home-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .home-top {
        flex-direction: column-reverse;
    }
}

.home-top__left{
    text-align: center;
}

.home-top__right {
    flex: 1;
    max-width: 300px;
}

.home-top__right img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.home-top__text-container{
    margin-bottom: 80px;
}

.home-top__text-container h1{
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .home-top__text-container h1{
        font-size: 34px;
    }
}

.home-top__text-container h2{
    font-family:'Yu Gothic';
    font-weight: lighter;
    font-size: 40px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .home-top__text-container h2{
        font-family:'Yu Gothic';
        font-weight: lighter;
        font-size: 24px;
        text-transform: uppercase;
    }
}

.home-top__links-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-top__links-container a {
    display: block;
    width: 197px;
    height: 75px;
    margin: 0 30px;
    color:#CEAD28 ;
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 2px #CEAD28;
    line-height: 75px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 767px) {
    .home-top__links-container a {
        width: 130px;
        height: 50px;
        margin: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }
}

.home-top__links-container a:hover{
    color: white;
    background-color: #CEAD28;
}

.section-categories-buttons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F6F6F6;
}

@media screen and (max-width: 1024px) {
    .section-categories-buttons{
        position: relative;
        bottom: inherit;
        left: inherit;
        transform: inherit;
        margin-top: auto;
    }
}

.categories-buttons__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.categories-buttons__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .categories-buttons__list {
        flex-direction: column;
    }
}

.categories-buttons__list li:nth-child(2){
    margin: 0 50px;
}

@media screen and (max-width: 767px) {
    .categories-buttons__list li:nth-child(2){
        margin: 15px 0px;
    } 
}

.categories-buttons__list a{
    display: inline-block;
    font-family: 'Yu Gothic';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 2px #CCCCCC;
    border-radius: 5px;
    padding: 20px 30px;
    color: #CCCCCC;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px) {
    .categories-buttons__list a{
        font-size: 16px;
        padding: 10px 14px;
    }
}

.categories-buttons__list a:hover{
    background-color: #4E4E4E;
    border: solid 2px #4E4E4E;
}