.illustration-section{

    height: calc(100vh - 70px - 52px );
}

.illustration-section__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 95%;
    margin: 0 auto;

}


.title-head{
    width: 100%;
    height: 171px;
    margin: 0 auto;
    margin-top: 30px;
    
}

.illustration-section__image-container{
        width: 95%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        text-align: center;
}

.illustration-img{
    width: 33.33%;
}

.illustration-img h3{
    font-family:'Yu Gothic';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
}

.footer{
    height: 52px; 
    background-color: #CEAD28; 
  }
  
  .footer h3{
      font-family:'Yu Gothic';
      color: #FFFFFF;
      font-size: 20px;
      padding-top: 21px;
      padding-left: 45px;
  
  }