.isometric-section{

    height: calc(100vh - 70px - 52px );
}

.isometric-section__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 95%;
    margin: 0 auto;

}

.title-head{
    width: 100%;
    height: 171px;
    margin: 0 auto;
    margin-top: 30px;
    
}

.isometric-img{
    width: 33.33%;
}

.isometric-colors-lists{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.colors{
    width: 75px;
    height: 75px;
}

.isometric__infos-characters{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.isometric-infos{
    width: 33.33%;
}

.footer{
    height: 52px; 
    background-color: #CEAD28; 
  }


  .footer h3 {
      font-family:'Yu Gothic';
      color: #FFFFFF;
      font-size: 20px;
      padding-top: 21px;
      padding-left: 45px;
  
  }