body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  color: #333;
  font-weight: 400;
}

.page-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-container {
  flex-grow: 1;
  width: 100%;
  /* max-width: 1965px; */
  margin: 0 auto;
  padding: 0;
}

.section-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  background-color: transparent;
}

.section-container {
  position: relative;
  width: 100%;
 /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.section-return-button {
  text-align: right;
}

.return-button {
  position: relative;
  display: inline-flex;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  padding-left: 35px;
}

.return-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 22px;
  height: 22px;
  background: url('../img/icone/Icon-back.png');
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease;
}

.return-button:hover::before {
  transform: translate(-10px, -50%);
}
