tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 li{
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 
 .menu{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    width: 100%;
 }

 .menu__container_icone{
 
     width: 20%;
 }

 .menu__container_icone img{
     padding: 20px;
     transition: all 0.5s ease-out;
 }

 .menu__container_icone img:hover{
    transform: rotate(20deg);
}

 .menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: #D8D3D3;
    padding: 30px;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Yu Gothic';
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.menu ul li a:hover{
    padding: 30px;
    font-size: 14pt;
    text-transform: uppercase;
    font-family:'Yu Gothic';
    font-weight: bold;
    color: #CEAD28;

    
}

.footer{
    height: 52px; 
    background-color: #CEAD28; 
  }
  
  .footer h3{
      font-family:'Yu Gothic';
      color: #FFFFFF;
      font-size: 20px;
      padding-top: 21px;
      padding-left: 45px;
  
  }

  .projet-logo{
      width: 100%;

      margin-top: 20px;
  }
  
  .projet-logo__container{
      width: 95%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;
}

.projet-logo__container__top{
    background-color: orange;
    width: 100%;
    padding-bottom: 150px;
}

.projet-logo__container__top__container-texte{
    background-color: green;
    width: 50%;
}

.projet-logo__container__top__container-texte h1{
    font-family:'Yu Gothic';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
}

.projet-logo__container__top__container-texte h2{
    font-family:'Yu Gothic';
    color: black;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
}



.projet-logo__container__bottom{

    width: 100%;
    display: flex;
    justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;

}

.projet-logo__container__bottom__logo-principal{
    width: 33.33%;
    text-align: center;
}

.projet-logo__container__bottom__logo-principal img{
    margin-top: 30px;
    width: 90%;
}

.projet-logo__container__bottom__logo-principal h3{
    font-family:'Yu Gothic';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    width: 90%;
    margin: auto;

}

.projet-logo__container__bottom__logo-type{
    background-color: aqua;
    width: 33.33%;
    text-align: center;
}

.projet-logo__container__bottom__logo-type img{
    margin-top: 30px;
}

.projet-logo__container__bottom__logo-type h3{
    font-family:'Yu Gothic';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}

.projet-logo__container__bottom__logo-alternatifs{
width: 33.33%;
text-align: center;
}

.projet-logo__container__bottom__logo-alternatifs img{
    margin-top: 35px;
}

.projet-logo__container__bottom__logo-alternatifs h3{
    font-family:'Yu Gothic';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    }