
.section-header{
    background-color: #F6F6F6;
}
.onepage{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    height: calc(100vh - 70px +52px);
    
}

.onepage__container-left{
    width: 50%;
    text-align: center;
}

.onepage__container-left__container-text{
    width: 100%;
}

.onepage__container-left__container-text h1{
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.onepage__container-left__container-text h2{
    font-family:'Yu Gothic';
    font-weight: lighter;
    font-size: 40px;
    text-transform: uppercase;
}

.onepage__container-left__container-button{
    width: 100%;
    margin-top: 100px;
}

.onepage__container-left__container-button a{
    width: 187px;
    height: 69px;
    color:#CEAD28 ;
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 3px #CEAD28;
    border-radius: 5px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0.5s ease-out;
    
}

.onepage__container-left__container-button a:hover{
    color: white;
    background-color: #CEAD28;
}

.onepage__container-right{
    width: 50%;
    flex: 1;
}

.onepage__container-right img{
    width: 80%;
}



.categories__container-icone{
    width: 100%;
    padding: 50px;
    margin: auto;
    text-align: center;
}

.categories__container-icone img{
    margin-left: 300px ;
    margin-right: 300px;
    
}

.section-categories-buttons{
    background-color: #F6F6F6;
}

.categories__container-button{
    width: 100%;

    height: 20px;
    padding: 50px;
    margin: auto;
    text-align: center;
}

.categories__container-button a{
    font-family: 'Yu Gothic';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border: solid 3px #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    color: #CCCCCC;
    margin-right: 231px;
    margin-left: 151px;
    transition: all 0.5s ease-out;
}

.categories__container-button a:hover{
    background-color: #4E4E4E;
    border: none;
}



.a-propos{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
    
}

.a-propos__container-left{
    width: 33%;
    border-right: solid 4px #CEAD28;
    height: 909px;
}

.a-propos__container-left h1{
    font-family: 'Yu Gothic';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

.a-propos__container-left p{
    font-family: 'Yu Gothic';
    font-size: 19px;
    margin-left: 40px;
    margin-top: 50px;
    line-height: 25px;
    width: 80%;
    
}

.a-propos__container-middle{
    width: 33%;
    border-right: solid 4px #CEAD28;
    
}

.a-propos__container-middle h1{
    font-family: 'Yu Gothic';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

.a-propos__container-middle p{
    font-family: 'Yu Gothic';
    font-size: 19px;
    margin-left: 40px;
    margin-top: 50px;
    line-height: 25px;
    width: 80%;
}

.a-propos__container-right{
    width: 33%;
    height: 909px;
}

.a-propos__container-right h1{
    font-family: 'Yu Gothic';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px; 
}

.a-propos__container-right__container-competences{
    
    text-align: center;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.a-propos__container-right__container-competences__img{
    width: 100%;
    height: 130px;
}

.a-propos__container-right__container-competences__img h2{
    font-family: 'Yu Gothic';
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
}

.home_book{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.book-container{
    width: 56%;
}

.book-container__texte{
    width: 60%;
    margin: auto;
}

.book-container__texte h1{
    font-family: 'Yu Gothic';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
    
}

.book-container__texte p{
    width: 80%;
    font-family: 'Yu Gothic';
    font-size: 20px;
    margin-top: 20px;
}

.book-container__button{
    width: 90%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

.book-container__button a{
    width: 358px;
    height: 95px;
    color:#CEAD28 ;
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: solid 3px #CEAD28;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s ease-out;
    margin: 20px;
    
}

.book-container__button a:hover{
    background-color: #CEAD28;
    color:#FFFFFF ;
}

