.categories__container-icone{
    width: 100%;
    padding: 50px;
    margin: auto;
    text-align: center;
}

.categories__container-icone img{
    margin-left: 300px ;
    margin-right: 300px;
    
}

.home_book{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.book-container{
    width: 56%;
}

.book-container__texte{
    width: 60%;
    margin: auto;
}

.book-container__texte h1{
    font-family: 'Yu Gothic';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
    
}

.book-container__texte p{
    width: 80%;
    font-family: 'Yu Gothic';
    font-size: 20px;
    margin-top: 20px;
}

.book-container__button{
    width: 90%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}

.book-container__button a{
    width: 358px;
    height: 95px;
    color:#CEAD28 ;
    font-family:'Yu Gothic';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: solid 3px #CEAD28;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s ease-out;
    margin: 20px;
    
}

.book-container__button a:hover{
    background-color: #CEAD28;
    color:#FFFFFF ;
}

